
.body {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    background-color: #F7EEDF;
}
.header {
    top: 0;
    height: 144px;
}

.header > .line1 {
    position: relative;
    width: 957px;

    top: 36px;
    left: 33px;
    border: 2px solid #FF8B14;
}

.header > .pageTitle {
    width: 262px;
    height: 54px;

    font-family: 'Imbue', serif;
    font-size: 40px;
    line-height: 48px;

    margin: 42px 380px 0 380px;
    color: #FF8B14;
}

.header > ul {
    padding: 0;
    margin: 5px 0 0 0;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header > ul > li {
    list-style: none;
    cursor: pointer;
}

.header > ul > li > a{
    width: 269px;

    font-family: 'Imbue', serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    display: block;
    text-align: center;

    border: 1px solid #FF8B14;
    border-radius: 20px;

    box-sizing: border-box;
    color: #FF8B14;
    padding: 1px 0;
}

.header > .line2 {
    width: 957px;
    margin: 10px 32px 0 33px;
    border: 2px solid #FF8B14;
}

.main {
    width: 1024px;
    margin: 0 auto;
}