/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width: 100%;
	height: 100%;
	background-color: #F8F4EA;
}

.body {
    width: 1024px;
    height: auto;
    margin: 0 auto;

    background-color: #F8F4EA;
}

.header {
    top: 0;

    height: 118px;
}

.header > .nav_box {
	display: flex;
	justify-content: space-between
}

.header > .nav_box > h1 {
    width: 227px;
    height: 54px;
	padding: 30px 0 0 68px ;
	margin: 0;
	color: #FF8B14;

    font-family: 'Imbue', serif;
    font-size: 45px;
    line-height: 54px;
}

.header > .nav_box > nav > ul {
    display: flex;
	margin: 50px 72px 0 0;
}
.header > .nav_box > nav > ul > li+li {
	margin-left: 28px;
}

.header > .nav_box > nav > ul > li {
	list-style: none;
    cursor: pointer;

}

.header > .nav_box > nav > ul > li > a{

	color: #FF8B14;

    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.header > .header_bottom_line {
    width: 957px;
    margin: 34px 34px 0 34px;
	border: 2px solid #FF8B14;

	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.main {
    width: 1024px;
	height: 100%;
}

.main > .main_profile { 
    width: 918px;
	height: 693px;
	padding: 38px 53px 0 53px;
}

/* .main > .main_profile > .main_sub_title {
	
	

} */

.main > .main_profile > .main_sub_title > h2 {
	width: 115px;
	height: 38px;
	box-sizing: border-box;
	border: 3px solid transparent;
    border-radius: 20px;   
	background-image: linear-gradient(#F8F4EA,#F8F4EA), linear-gradient(to right, rgba(255, 139, 20, 1), rgba(232, 178, 124, 1), rgba(240, 195, 149, 1), rgba(240, 195, 149, 1), rgba(224, 173, 120, 1), rgba(255, 139, 20, 1));
	background-origin: border-box;
    background-clip: content-box, border-box;

	display: flex;
	justify-content:center;
	align-items:center;

	font-family: 'Nanum Gothic', sans-serif;
	font-size: 20px;
	color: #FF8B14;
}

.main > .main_profile > .main_profile_photo {
	margin: 14px 0 0 0;

	box-sizing: border-box;

	width: 179px;
	height: 205px;

	border: 1px solid #FF8B14;
	border-radius: 8px;
} 
